In [1]:
import pandas as pd

In [2]:
file_path = '../../datasets/iris/Iris.csv'

df = pd.read_csv(file_path)

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.drop('Id', axis=1, inplace=True)

In [5]:
print(df['Species'].value_counts())

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: Species, dtype: int64

In [6]:
df['Species'] = df['Species'].astype('object')

df.loc[df['Species'] == 'Iris-setosa', 'Species'] = 0
df.loc[df['Species'] == 'Iris-versicolor', 'Species'] = 1
df.loc[df['Species'] == 'Iris-virginica', 'Species'] = 2

In [12]:
from sklearn.model_selection import train_test_split

X = df.drop('Species', axis=1)
y = df['Species']

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=1)

In [14]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(random_state=1)
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=1, splitter='best')

In [16]:
from sklearn.metrics import mean_absolute_error

y_hat = model.predict(X_test)
mean_absolute_error(y_test, y_hat)

0.03333333333333333

In [27]:
print(model.predict(X_test))

[0 1 1 0 2 1 2 0 0 2 1 0 2 1 1 0 1 1 0 0 1 1 2 0 2 1 0 0 1 2]

In [18]:
X_test.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
14             5.8           4.0            1.2           0.2
98             5.1           2.5            3.0           1.1
75             6.6           3.0            4.4           1.4
16             5.4           3.9            1.3           0.4
131            7.9           3.8            6.4           2.0

In [25]:
df.loc[131]

SepalLengthCm    7.9
SepalWidthCm     3.8
PetalLengthCm    6.4
PetalWidthCm     2.0
Species          2.0
Name: 131, dtype: float64