# Machine Learning

Machine Learning adalah suatu bidang ilmu yang memungkinkan mesin untuk mempelajari pola-pola berdasarkan data.

Belajar Machine Learning berdasarkan dataset yang diambil dari `kaggle` yaitu `Melbourne Housing Snapshot`.

Machine Learning ini digunakan untuk memprediksi `price` berdasarkan atas pertimbangan-pertimbangan(`Features`) yang digunakan dalam proses Machine Learning.

## Import Dataset

Gunakan library `pandas` untuk meng-import dataset yang ada dan akan membuat dataset tersebut menjadi DataFrame.

`read_csv()` adalah fungsi/method pada library `pandas` yang digunakan untuk meng-import suatu dataset.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../../../datasets/melb_data.csv/melb_data.csv')

## Eksplorasi Dataset

Hal ini dilakukan untuk mengetahui karakteristik dari dataset yang akan kita gunakan dan untuk mengetahui juga apakah dalam dataset tersebut ada missing value atau tidak.

### Mencari Sampel

- Untuk mengetahui lima baris data pertama, bisa digunakan method `head()`
- Untuk mengetahui lima baris data terakhir, bisa digunakan method `tail()`

In [4]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

### Mengetahui Baris dan Kolom

- `shape` digunakan untuk mengetahui baris dan kolom
- `columns` digunakan untuk mengetahui nama dari setiap kolom

In [4]:
df.shape

(13580, 21)

In [5]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

### Melihat Ringkasan Dataset

Method `describe()` akan membuat ringkasan sederhana dari suatu dataset

In [6]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

## Data Cleaning

Untuk mengatasi missing value gunakan method `dropna()`,  namun hal ini mempunyai kekurangan yaitu data akan semakin mengecil

In [7]:
df = df.dropna()
df.shape

(6196, 21)

# Tahapan Machine Learning

## Memilih Prediction Target

Disini kita akan mengambil prediction target yaitu `price`

In [8]:
y = df['Price']
y

1        1035000.0
2        1465000.0
4        1600000.0
6        1876000.0
7        1636000.0
           ...
12205     601000.0
12206    1050000.0
12207     385000.0
12209     560000.0
12212    2450000.0
Name: Price, Length: 6196, dtype: float64

## Memilih Features

Features digunakan untuk sebagai acuan mesin dalam melakukan pembelajarannya. Dalam memilih features, tidak semuanya kita gunakan hanya beberapa features saja yang digunakan.

Dan features yang akan kita pilih yaitu `Rooms` `Bathroom` `Landsize` `Lattitude` `Longtitude`

In [9]:
features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X = df[features]

In [10]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

## Membuat Model

Disini kita akan menggunakan model `DecisionTreeRegressor`

In [11]:
from sklearn.tree import DecisionTreeRegressor

## Konfigurasi Model

In [12]:
df_model = DecisionTreeRegressor(random_state=1)

## Melakukan Training Data

In [13]:
df_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

## Membuat Prediksi

In [14]:
df_model.predict(X.head())

array([1035000., 1465000., 1600000., 1876000., 1636000.])

In [15]:
y.head()

1    1035000.0
2    1465000.0
4    1600000.0
6    1876000.0
7    1636000.0
Name: Price, dtype: float64

# Evaluasi Model

## `mean_absolute_error`

Semakin kecil nilai yang dihasilkan oleh MAE, maka hasil prediksi akan menjadi lebih berkualitas

In [16]:
from sklearn.metrics import mean_absolute_error

In [17]:
y_hat = df_model.predict(X)
mean_absolute_error(y, y_hat)

1115.7467183128902

## Training dan Testing Data

In [18]:
from sklearn.model_selection import train_test_split

### Membagi Data Menjadi Dua Bagian

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Konfigurasi dan Training Data

In [20]:
df_model = DecisionTreeRegressor(random_state=1)
df_model.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

### Evaluasi

In [21]:
y_hat = df_model.predict(X_test)
mean_absolute_error(y_test, y_hat)

251688.7630729503

## Optimasi Model

In [22]:
def get_mae(max_leaf_nodes, X_train, X_test, y_train, y_test):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(X_train, y_train)
    y_hat = model.predict(X_test)
    mae = mean_absolute_error(y_test, y_hat)
    return mae

In [23]:
for max_leaf_nodes in [5, 50, 500, 5000]:
    leaf_mae = get_mae(max_leaf_nodes, X_train, X_test, y_train, y_test)
    print(f'Max Leaf Nodes : {max_leaf_nodes} \t Mean Absolute Error : {int(leaf_mae)}')

Max Leaf Nodes : 5 	 Mean Absolute Error : 369673
Max Leaf Nodes : 50 	 Mean Absolute Error : 266644
Max Leaf Nodes : 500 	 Mean Absolute Error : 243613
Max Leaf Nodes : 5000 	 Mean Absolute Error : 256227

# Eksplorasi dengan Model Random Forest

In [24]:
from sklearn.ensemble import RandomForestRegressor

In [26]:
rf_model = RandomForestRegressor(n_estimators=100, random_state=1)
rf_model.fit(X_train, y_train)
y_hat = rf_model.predict(X_test)
print(f'Mean Absolute Error : {int(mean_absolute_error(y_test, y_hat))}')

Mean Absolute Error : 190414