# Klasifikasi
## Decision Tree

In [1]:
import pandas as pd

In [2]:
file_path = '../../../datasets/iris/Iris.csv'

df = pd.read_csv(file_path)

### Exploratory Data Analysis

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df.shape

(150, 6)

In [5]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

### Data Preprocessing and Data Cleaning

In [6]:
# Membuang kolom Id

df.drop('Id', axis=1, inplace=True)

In [7]:
# Melihat jumlah label masing-masing

print(df['Species'].value_counts())

Iris-versicolor    50
Iris-setosa        50
Iris-virginica     50
Name: Species, dtype: int64

In [8]:
# Membuat label menjadi tipe numerical

from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(df['Species'])
df['Species'] = encoder.transform(df['Species'])

In [9]:
# Membagi dataset menjadi train dan test data

from sklearn.model_selection import train_test_split

X = df.drop('Species', axis=1)
y = df['Species']

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=1)

### Model Selection

In [10]:
# Membuat model Machine Learning dengan Decision Tree

from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(random_state=1)
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=1, splitter='best')

### Evaluation

In [13]:
# Menghitung kesalahan

from sklearn.metrics import accuracy_score

preds = model.predict(X_test)
print('{.2f}'.format(accuracy_score(y_test, preds)))

AttributeError: 'numpy.float64' object has no attribute '2f'

In [12]:
# Memprediksi berdasarkan X_test

model.predict(X_test)

array([0, 1, 1, 0, 2, 1, 2, 0, 0, 2, 1, 0, 2, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       2, 0, 2, 1, 0, 0, 1, 2])

In [13]:
# Memprediksi berdasarkan input yang disesuaikan

result = model.predict([[5.5, 3.1, 1.0, 0.3]])

print(encoder.inverse_transform(result))

['Iris-setosa']